:global(.ant-select-selector.ant-select-selector.ant-select-selector.ant-select-selector.ant-select-selector.ant-select-selector.ant-select-selector) {
  border: 1px solid #02f3dd;
  background: transparent;
  color: white;
  height: 100%;
  align-items: center;
}

:global(.ant-modal-body.ant-modal-body.ant-modal-body.ant-modal-body.ant-modal-body.ant-modal-body) {
    background: #232632;
    border: 1px solid gray;
}
