.tabsS {
}

.centeredEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

:global(.ant-empty) {
  margin: auto auto;
}
.tabsS :global(.ant-tabs-nav) {
  max-height: 50vh;
  overflow-y: auto;
}
